manifest {
    name = 'MTBSeq packaged as a Nextflow Workflow for usability and sensible defaults.'
    description = 'Workflow for the MTBSeq for analysis of Mycobacterium tuberculosis.'
    version = '1.0.0'
    author = 'Emilyn Costa Conceição <emilyncosta@gmail.com> ; Abhinav Sharma <abhi18av@outlook.com>;  Davi Josué Marcon <davijosuemarcon@gmail.com>'
    mainScript = 'main.nf'
}

docker.enabled = true

params {includeConfig 'conf/global_params.config'}

profiles {
    standard { includeConfig 'conf/standard.config' }
    stub { includeConfig 'conf/stub.config' }
    labbactfiocruz { includeConfig 'conf/labbactfiocruz'}
    gls { includeConfig 'conf/gcp.config' }
    azureBatch { includeConfig 'conf/azure.config' }
    awsBatch { includeConfig 'conf/aws.config' }

}

