manifest {
    name = 'MTBseq-nf'
    description = 'MTBseq-nf is MTBseq with sensible defaults and parallel analysis mode.'
    version = '0.9.7'
    author = '@abhi18av; @Mxrcon; @jloubser; @emilyncosta'
    mainScript = 'main.nf'
}

params { includeConfig 'default_params.config' }

// HARDWARE profiles
profiles {
    standard { includeConfig 'conf/standard.config' }
    docker { includeConfig 'conf/docker.config' }
    conda { includeConfig 'conf/conda.config' }
}

