manifest {
    name = 'MTBseq-nf'
    description = 'MTBseq-nf is MTBseq with sensible defaults and parallel analysis mode.'
    version = '0.9.7'
    author = Davi Josué Marcon <davijosuemarcon@gmail.com>; Emilyn Costa Conceição <emilyncosta@sun.ac.za>; Hanno Loubser <jloubser@sun.ac.za>; 'Abhinav Sharma <abhi18av@outlook.com>'
    mainScript = 'main.nf'
}

params { includeConfig 'default_params.config' }

// HARDWARE profiles
profiles {
    standard { includeConfig 'conf/standard.config' }
    stub { includeConfig 'conf/stub.config' }
    dev { includeConfig 'conf/dev.config' }
    docker { includeConfig 'conf/docker.config' }
    conda { includeConfig 'conf/conda.config' }
    server { includeConfig 'conf/server.config' }

}

