profiles {
  minikube {

    params {
            outdir = "/work/results"
        }

    process {
            errorStrategy = { task.attempt < 3 ? 'retry' : 'ignore' }
            executor = 'k8s'

    withName:
    ".*" {
        container = 'ubuntu:20.04'
        cpus = 1
        memory = "2 GB"
    }

        }

    k8s {
            namespace = 'nfkube'
            serviceAccount = 'nfkubelaunchersa'
            storageClaimName = 'nfkubevolumeclaim'
            storageMountPath = '/work'
        }
    }

}
