params {
    outdir = "results/"
    local_location = "/work/full_data/" // single_sample OR multiple_samples
}

process {

    errorStrategy = { task.attempt < 3 ? 'retry' : 'ignore' }

}

k8s {

    namespace = 'nfkube'

    serviceAccount = 'nfkubelaunchersa'

    storageClaimName = 'nfkubevolumeclaim'

    storageMountPath = '/work'

}

//=========================================
// Kubernetes
//=========================================


// params {
//     outdir = "/work/results"
// }

// process {

//     errorStrategy = { task.attempt < 3 ? 'retry' : 'ignore' }

//     executor = 'k8s'

//     withName:
//     ".*" {
//         container = 'quay.io/biocontainers/mtbseq:1.0.3--pl526_1'
//         cpus = 4
//         memory = 8.GB
//     }
// }

// k8s {

//     namespace = 'nfkube'

//     serviceAccount = 'nfkubelaunchersa'

//     storageClaimName = 'nfkubevolumeclaim'

//     storageMountPath = '/work'

// }
