docker.enabled = true

process {
    withName:
    "TB.*" {
        container = 'ghcr.io/mtb-bioinformatics/mtbseq-nf:0.9.5'
    }

    withName:
    'FASTQC.*' {
        container = 'ghcr.io/mtb-bioinformatics/mtbseq-nf:0.9.5'
    }

    withName:
    'MULTIQC.*' {
        container = 'ghcr.io/mtb-bioinformatics/mtbseq-nf:0.9.5'
    }

}
