TBBWA {
resultsDir = "${params.outdir}/tbbwa"
saveMode = 'copy'
shouldPublish = true
}

TBREFINE {
resultsDir = "${params.outdir}/tbrefine"
saveMode = 'copy'
shouldPublish = true
}

TBPILE {
resultsDir = "${params.outdir}/tbpile"
saveMode = 'copy'
shouldPublish = true
}

TBLIST {
resultsDir = "${params.outdir}/tblist"
saveMode = 'copy'
shouldPublish = true
minbqual = 13
}

TBVARIANTS {
resultsDir = "${params.outdir}/tbvariants"
saveMode = 'copy'
shouldPublish = true
    mincovf = 4
    mincovr = 4
    minphred = 4
    minfreq = 75
 }

TBSTATS {

resultsDir = "${params.outdir}/tbstats"
saveMode = 'copy'
shouldPublish = true

}

TBSTRAINS {
resultsDir = "${params.outdir}/tbstrains"
saveMode = 'copy'
shouldPublish = true
    mincovf = 4
    mincovr = 4
    minphred = 4
    minfreq = 75
 }

TBJOIN {


resultsDir = "${params.outdir}/tbjoin"
saveMode = 'copy'
shouldPublish = true

    project_name = "mtbseq"
    mincovf = 4
    mincovr = 4
    minphred = 4
    minfreq = 75
 }

TBAMEND {

resultsDir = "${params.outdir}/tbamend"
saveMode = 'copy'
shouldPublish = true
    project_name = "mtbseq"
    mincovf = 4
    mincovr = 4
    minphred = 4
    minfreq = 75
    unambig = 95
    window = 12
    distance = 12
 }

TBGROUPS {
resultsDir = "${params.outdir}/tbgroups"
saveMode = 'copy'
shouldPublish = true
project_name = "mtbseq"
}

TBFULL {
resultsDir = "${params.outdir}/tbfull"
saveMode = 'copy'
shouldPublish = true
minbqual = 13
mincovf = 4
mincovr = 4
minphred = 4
minfreq = 75
}
