docker.enabled = true


params {
    outdir = "${baseDir}/results"
    gatk38_jar = "${baseDir}/resources/GenomeAnalysisTK.jar"
    reads = "${baseDir}/data/full_data/*_{R1,R2}*fastq.gz"

    distance = 5
}


process {
    withName:
    ".*" {
        cpus = 16
        memory = 35.GB
        container = 'quay.io/biocontainers/mtbseq:1.0.3--pl526_1'
    }
}
