params {
    outdir = "$baseDir/results"
    gatk38_jar = "$baseDir/resources/GenomeAnalysisTK.jar"
    reads = "$baseDir/data/full_data/*_{R1,R2}*fastq.gz"
    }

process {
    errorStrategy = 'retry'
    maxRetries = 3

    withName:
        "TBREFINE" {
            cpus = 8
            memory = "15 GB"
    }

    withName:
        "TBBWA" {
            cpus = 8
            memory = "15 GB"
    }

    withName:
        "TBVARIANTS" {
            cpus = 8
            memory = "15 GB"
    }

    withName:
        "TBPILE" {
            cpus = 8
            memory = "15 GB"
    }

    withName:
        "MTBSEQ" {
            cpus = 8
            memory = "15 GB"
    }

    withName:
        "TBSTRAINS" {
            cpus = 8
            memory = "15 GB"
    }

    withName:
        "TBLIST" {
            cpus = 8
            memory = "15 GB"
    }

    withName:
        "TBSTATS" {
            cpus = 8
            memory = "15 GB"
    }

    withName:
        "TBAMEND" {
            cpus = 8
            memory = "15 GB"
    }

    withName:
        "TBGROUPS" {
            cpus = 8
            memory = "15 GB"
    }

    withName:
        "TBJOIN" {
            cpus = 8
            memory = "15 GB"
    }

}

