process {
    errorStrategy = { task.attempt < 3 ? 'retry' : 'ignore' }

    withName:
    "TBREFINE" {
        cpus = 8
        memory = 8.GB
    }

    withName:
    "TBBWA" {
        cpus = 2
        memory = 4.GB
    }

    withName:
    "TBVARIANTS" {
        cpus = 2
        memory = 4.GB
    }

    withName:
    "TBPILE" {
        cpus = 2
        memory = 2.GB
    }

    withName:
    "TBSTRAINS" {
        cpus = 2
        memory = 4.GB
    }

    withName:
    "TBLIST" {
        cpus = 8
        memory = 16.GB
    }

    withName:
    "TBSTATS" {
        cpus = 2
        memory = 4.GB
    }

    withName:
    "TBAMEND" {
        cpus = 2
        memory = 2.GB
    }

    withName:
    "TBGROUPS" {
        cpus = 4
        memory = 2.GB
    }

    withName:
    "TBJOIN" {
        cpus = 2
        memory = 4.GB
    }

    withName:
    "TBFULL" {
        cpus = 8
        memory = 35.GB
    }


}
