process {
    withName:
        "TBREFINE" {
            container = 'quay.io/biocontainers/mtbseq:1.0.3--pl526_1'
            cpus = 8
            memory = "15 GB"
    }

    withName:
        "TBBWA" {
            container = 'quay.io/biocontainers/mtbseq:1.0.3--pl526_1'
            cpus = 8
            memory = "15 GB"
    }

    withName:
        "TBVARIANTS" {
            container = 'quay.io/biocontainers/mtbseq:1.0.3--pl526_1'
            cpus = 8
            memory = "15 GB"
    }

    withName:
        "TBPILE" {
            container = 'quay.io/biocontainers/mtbseq:1.0.3--pl526_1'
            cpus = 8
            memory = "15 GB"
    }

    withName:
        "MTBSEQ" {
            container = 'quay.io/biocontainers/mtbseq:1.0.3--pl526_1'
            cpus = 8
            memory = "15 GB"
    }

    withName:
        "TBSTRAINS" {
            container = 'quay.io/biocontainers/mtbseq:1.0.3--pl526_1'
            cpus = 8
            memory = "15 GB"
    }

    withName:
        "TBLIST" {
            container = 'quay.io/biocontainers/mtbseq:1.0.3--pl526_1'
            cpus = 8
            memory = "15 GB"
    }

    withName:
        "TBSTATS" {
            container = 'quay.io/biocontainers/mtbseq:1.0.3--pl526_1'
            cpus = 8
            memory = "15 GB"
    }

    withName:
        "TBAMEND" {
            container = 'quay.io/biocontainers/mtbseq:1.0.3--pl526_1'
            cpus = 8
            memory = "15 GB"
    }

    withName:
        "TBGROUPS" {
            container = 'quay.io/biocontainers/mtbseq:1.0.3--pl526_1'
            cpus = 8
            memory = "15 GB"
    }

    withName:
        "TBJOIN" {
            container = 'quay.io/biocontainers/mtbseq:1.0.3--pl526_1'
            cpus = 8
            memory = "15 GB"
    }

}

