docker.enabled = true
params {
    outdir = "${baseDir}/stubs_output"
    gatk38_jar = "${baseDir}/data/mock_data/GenomeAnalysisTK.jar"
    reads = "${baseDir}/data/mock_data/*_R{1,2}.fastq.gz"
    user = "root"
    library_name = "illumina"
    mtbseq_project_name = "stub_project"
}


process {

    withName:
    ".*" {
        container = 'ubuntu:20.04'
        cpus = 1
        memory = "2 GB"
    }
}
